.header {
  background: var(--gray-700);
  width: auto;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.imageOne {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
