.body {
  background: var(--gray-600);
  display: flex;
  width: 100%;
  height: 500px;
  flex-direction: column;
  color: var(--gray-300);
}

.clipImage {
  display: flex;
  justify-content: center;
}

.dowElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /*border-top: 1px solid var(--gray-300);*/
  /* margin-left: 610px; */
  margin: 0 32px;
}
.notTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

hr {
  width: 735px;
  border-color: var(--gray-600);
}

strong {
  margin-top: 3px;
  color: var(--gray-300);
}

p {
  color: var(--gray-300);
}

.accountants {
  width: 800px;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 0 32px;
  margin: 32px 0;
  margin-left: 368px;
}

.firstH3 {
  color: var(--alice-blue);
}

.secondH3 {
  color: var(--purple);
}

.taskCount {
  width: 24px;
  height: 19px;
  background: var(--gray-400);
  border-radius: 5px;
}

.taskContSecond {
  width: 24px;
  height: 19px;
  background: var(--gray-400);
  border-radius: 5px;
}

.taskItem {
  width: 736px;
  height: 72px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: var(--gray-500);
  margin-bottom: 10px;
  z-index: 1;
  margin-left: 400px;
}

.taskText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 0px 10px; /* Espaçamento entre o checkbox e o ícone de lixeira */
  margin-top: -20px;
  line-height: 16px;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border: 2px solid var(--alice-blue);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-top: -20px;
  margin-left: 16px;
}

input[type="checkbox"]::before {
  box-sizing: border-box;
  content: "";
  display: block;
  width: 1.09rem;
  height: 1.09rem;
  border-radius: 0.7rem;
  border: 2px solid var(--alice-blue);
  transition: 0.1s ease-in-out background-color;
}

input[type="checkbox"]:checked::before {
  content: "✓";
  font-size: 12px;
  color: var(--gray-300);
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

input:checked + label::after {
  background-color: var(--purple700);
  border-color: var(--purple700);
  background-position: center center;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.1s ease-in-out background-color;
  background-image: url("data:image/svg+xml,%3Csvg width='10'   height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.43059 0.342154L4.09865 4.67409L1.61618 2.19162L0.780273 3.02753L4.09865 6.3459L9.26649 1.17806L8.43059 0.342154Z' fill='%23F2F2F2'/%3E%3C/svg%3E ");
}

.taskText {
  color: var(--gray-200);
}

.taskTextCompleted {
  text-decoration: line-through;
  color: var(--gray-300);
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

.trash {
  width: 24px;
  height: 24px;

  margin-top: -16px;
  margin-right: 16px;

  color: var(--gray-200);
}
